.intro {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__content{
        width: 522px;
    }
    &__slogan {
        font-family: "Sailec";
        font-weight: 400;
        font-size: 48px;
        line-height: 58.08px;
        letter-spacing: 0.25px;
        margin-bottom: 20px;
    }
}